form{
    width: 60%;
    border: solid 1px;
    margin-left: 19%;
    margin-bottom: 5%;
    margin-top: 5%;
}
input{
    width: 95%;
    margin: 2% 0;
    padding: 16px 12px;
}
button{
    padding: 12px 10px;
    width: 97%;
    border: none;
    background-color: rgb(137,161,105);
    color: #ffff;
    border-radius: 5px;
    cursor: pointer;
}